// COLORS
$background-color: rgb(245, 245, 245);
$app-primary: #1c2f73;
$app-danger: #d50000;
$app-success: #00c853;
$app-info: #0091ea;


// ANIMATIONS
$animation-popIn-time: .5s;

// SHADOWS
$app-card-shadow: 0 0 20px rgb(0 0 0 / 40%) !important;
